body{
    background: #ddd8d5;
    color: #91966e;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

h1, h5{
    font-weight: 100;
    font-family: 'Bungee', cursive;
}

section{
    background: #e4e4e6;
    padding: 2rem;
    margin: 0;
}

.hamburger{
    position: absolute;
    margin: 50px;
    z-index: 2;
    cursor: pointer;
}

.line{
    width: 50px;
    height: 6px;
    background: #bcad90;
    margin-bottom: 5px;
}

.menu{
    width: 300px;
    height: 100%;
    background: #bcad90;
    position: fixed;
    top: 0;
    left: -300px;
    transition: left .1s;
}

.menu-item:first-child{
    margin-top: 180px;
}

.menu--open{
    left: 0;
}

.menu-item{
    color: #fff;
    width: 100%;
    padding: 1rem 3rem;
    box-sizing: border-box;
}

.menu-item:hover {
    background: #91966e;
    cursor: pointer;
}

pre{
    font-family: 'Rubik', sans-serif;
    padding: 5px;
    margin: 5px;
}